*{
    box-sizing: border-box;
}

body{
    background-color: #222 !important;
}

.bg-body-secondary{
    margin-top: 8px !important; 
    margin-bottom: 8px !important; 
}

.col-sm-4{
    margin-right: 5px;
    width: 40% !important;
} 


.col-sm-8{
    width: 59% !important;
    margin-left: 5px;
    background-color: #222 !important;
}



